<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Modulo de Administracion</h5>
            <h1 class="titulo">Administracion de usuarios</h1>
            <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Seleccione un Departamento</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let dept of cargos" [value]="dept.nombre">
                            {{ dept.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button mat-button color="primary" class="btn-nuevo">
                    Crear nuevo cargo
                </button>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="container-white">
            <div class="col-12">
                <div class="card">
                    <div class="card-body-container">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="border-table">
                                <!-- Columnas de la tabla -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> ID </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                                </ng-container>

                                <ng-container matColumnDef="codigo">
                                    <th mat-header-cell *matHeaderCellDef> Código </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.codigo }} </td>
                                </ng-container>

                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                                </ng-container>

                                <ng-container matColumnDef="activo">
                                    <th mat-header-cell *matHeaderCellDef> Activo </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.activo }} </td>
                                </ng-container>

                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="action-buttons">
                                            <button class="btn-edit">
                                                <span class="material-symbols-outlined">edit_square</span> Editar
                                            </button>
                                            <button class="btn-delete" (click)="deleteCargo(element.id)">
                                                <span class="material-symbols-outlined">delete</span> Eliminar
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <span><strong>Total Registros: {{ cargos.length }}</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
